# Fill in with your user and password that has access to all databases you want to back up
# That user is usually root
# Place in home directory as .my.conf 
[client]
user='root'
password='your_root_password_here'
